{% extends 'base.html.twig' %}

{% block body %}
    <h1>The Weather!</h1>

        <a href="https://forecast7.com/en/40d71n74d01/new-york" class="weatherwidget-io" src="https://forecast7.com/en/40d71n74d01/new-york/" data-label_1="NEW YORK" data-label_2="WEATHER"></a>
{% endblock %}
